
/* Variable Colors */
$primary-red: #8B1537;
$primary-black: #30261D;
$background-gray: #EEEEEE;
$white: #FFFFFF;

/* Font Variables */
$font-weights: (
    "light": 300,
    "bold" : 400
);

$font-sizes: (
    "large-header" : 40pt,
    "medium-header" : 30pt,
    "small-header" : 20pt,
    "body-copy" : 12pt
);

/* Image Variables */
$full-width: 100%;
