@import './functions';
@import './variables';
@import url("https://use.typekit.net/kra3jts.css");
@import url("https://use.typekit.net/kra3jts.css");
/*Resets */
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/* h1 - h3 styles */

h1, h2 {
    font-family: utopia-std, serif;
    font-style: normal;
    font-weight: weight(bold);
}
h1{
    font-size: fontSize(large-header);
}

h2{
    font-size: fontSize(medium-header);
}
h3{
    font-family: proxima-nova, sans-serif;
    font-size: fontSize(small-header);
    font-weight: weight(bold);
}

/* Paragraph & Links */
p, a{
    font-family: proxima-nova, sans-serif;
    font-weight: weight(light);
    font-style: normal;
    font-size: fontSize(body-copy);
}

p{
    color: $primary-black;
}
.white{
    color: $white;
}
.black{
    color: $primary-black;
}
.red{
    color:$primary-red;
}
a:link, a:hover, a:active{
    text-decoration:none;
    cursor: pointer;
}

/* Button Styles */
button{
    font-family: proxima-nova, sans-serif;
    font-weight: weight(light);
    font-size: 18pt;
    text-transform: uppercase;
    color: $white;
    background-color: $primary-red;
    box-shadow: 0px 15px 31px #8214294D;
    border-radius:8px;
    padding: .2em 2.5em;
    border: 0;
}
button:link, button:visited, button:hover, button:active{
    border: 0;
}
button:hover{
    background-color: $white;
    color: $primary-red;
}

/* favorite things styles */
.image-header{
    background-image: url('https://images.unsplash.com/photo-1453959022778-cfda85dbe0f9?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80');
    background-position: center;
    background-size: cover;
    height:50vh;
    width:100%;
    display: flex;
}
.favorite-heading{
    text-align: left;
    font: normal normal bold 4em/1em Proxima Nova;
    letter-spacing: .1em;
    font-family: proxima-nova, sans-serif;
    
}
@media screen and (max-width:380px){
    .favorite-heading{
        font-size:2em;
    }
}
.blur{
    backdrop-filter: blur(29px);
    -webkit-backdrop-filter: blur(29px);
    width:100vw;
    margin:auto;
    vertical-align: middle;
    display: flex;
}
.column-image{
    height:300px;
    width:100%;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 3px 20px #00000029;
}
.hover{
    background-color:$primary-red;
    opacity:.7;
    bottom:0;
    width:100%;
    height: 25%;
    padding: 1.5em;
}
.hover:hover{
    transition:height 1s;
}
.hover:hover{
    height:100%;
    opacity:.9;
}
.hover:hover .hide{
    transition:opacity 1s;
}
.hover:hover .hide{
    opacity:1;
}
footer{
    background-color:$primary-red;
    height:250px;
    display: flex !important;
    animation:changeColor 10s infinite;
}
@keyframes changeColor{
    0%{background-color:$primary-red;}
    35%{background-color:#af121f;}
    70%{background-color:#992a3f;}
    100%{background-color:$primary-red;}
}
.logo{
    width:5em;
    display: flex;
    margin:auto;
}
.hide{
    opacity:0;
}
strong{
    font-weight: bold !important;
}
a .white:hover{
    color:$primary-black;
}